<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test OAuth with Github</title>
  </head>
  <body>
    <h1>Test OAuth with Github</h1>
    <% if (isConnected) { %>
    <h2>Welcome <%= displayName %></h2>
    <a href="/secret">You are connected. See the secret</a>
    <% } else { %>
    <a href="<%= authorizeUrl %>">Connect with Github</a>
    <% } %>
  </body>
</html>
